.best {
    padding-top: 41px;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 33px;
    }

    &__title {
        font-family: "Work Sans Bold";
        font-weight: 600;
        font-size: 26px;
    }

    &__card {
        width: 130px;
        margin-bottom: 35px;
        text-decoration: none;
        color: #151c22;
    }

    &__over {
        width: 130px;
        display: flex;
        flex-direction: column;
    }

    &__model {
        font-family: "Work Sans Medium";
        font-weight: 400;
        font-size: 16px;
    }

    &__price {
        font-family: "Work Sans Bold";
        font-weight: 600;
        font-size: 14px;
    }
}
