.buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__link {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 18px;
    height: 18px;
    background-image: url(../img/vectors/search.svg);
    background-repeat: no-repeat;
  }

  &__link:nth-child(2) {
    background-image: url(../img/vectors/card.svg);
  }
}
