.category {
    &__title {
        font-family: "Work Sans Bold";
        font-weight: 600;
        font-size: 26px;
        text-align: left;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 33px;
    }
}
