.category {
    text-align: center;
    margin-bottom: 62px;

    &__title {
        font-family: "Work Sans Bold";
        font-weight: 600;
        font-size: 26px;
        text-align: left;
        padding-top: 52px;
    }

    &__wrap {
        height: 345px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        padding-top: 33px;
        padding-bottom: 60px;

        &_open {
            height: 500px;
        }
    }

    &__model {
        font-family: "Work Sans Medium";
        font-weight: 400;
        font-size: 16px;
        color: #151c22;
    }

    &__card {
        text-decoration: none;
        text-align: left;

        &_bottom {
            margin-top: auto;
        }
    }

    &__all {
        font-family: "Work Sans Medium";
        font-weight: 600;
        font-size: 16px;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}

@media screen and (min-width: 768px) {
    .category {
        padding-top: 43px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 720px;
        padding-top: 100px;
        padding-bottom: 113px;

        &__title {
            font-size: 28px;
            padding-top: 0;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &__wrap {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &__all {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }
}

@media screen and (min-width: 1366px) {
    .category {
        padding-top: 43px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 475px;
        padding-top: 100px;
        padding-bottom: 113px;
        margin-bottom: 0;

        &__wrap {
            align-items: flex-start;
            padding-top: 71px;
        }

        &__card {
            text-decoration: none;

            &_bottom {
                margin-top: 0;
                order: 4;
            }
        }
    }
}
