.entry {
    justify-self: center;
    text-align: center;

    &__slogan {
        font-family: "Work Sans Regular";
        font-size: 18px;
        color: #727a82;
        padding-top: 46px;
        margin-bottom: 31px;
    }

    &__brand {
        text-transform: uppercase;
        font-family: "Anton Regular";
        font-size: 79px;
        color: #151c22;
    }

    &__link {
        font-family: "Work Sans Bold";
        font-size: 16px;
        color: #fff;
        padding-top: 23px;
        padding-bottom: 23px;
        background-color: #151C22;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .entry {
        &__slogan {
            padding-top: 74px;
        }

        &__brand {
            font-size: 98px;
        }

        &__link {
            padding: 23px 20px;
        }
    }
}
