@font-face {
    font-family: "Work Sans Regular";
    src: url("../fonts/Worksansregular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Work Sans Medium";
    src: url("../fonts/Worksansmedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Work Sans Bold";
    src: url("../fonts/Worksansbold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Work Sans Extra Bold";
    src: url("../fonts/Worksansextrabold.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Anton Regular";
    src: url("../fonts/Antonregular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
