.navigation {
    grid-column-start: 1;
    grid-column-end: 7;
    width: 177px;
    &_catalog {
        display: none;
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        font-family: "Work Sans Medium";
        font-size: 16px;
        font-weight: 500;
        color: #151c22;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .navigation {
        width: 198px;
        grid-column-start: 1;
        grid-column-end: 4;

        &__item {
            align-items: flex-end;
        }
    }
}

@media screen and (min-width: 1366px) {
    .navigation {
        width: 58px;
        height: 101px;
        padding-top: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        &_catalog {
            display: block;
        }
    }
}
