.new-collection {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:
        'navigation . other'
        'new-collection__photo new-collection__photo new-collection__photo'
        'entry entry entry';

    .navigation {
        grid-area: navigation;
    }

    .entry {
        grid-area: entry;
    }

    .new-collection__photo {
        grid-area: new-collection__photo;
        justify-self: center;
    }

    .other {
        grid-area: other;
    }

    &__photo {
        height: 249px;
    }
}
