.social {
    display: none;
}

@media screen and (min-width: 768px) {
    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__link {
            font-family: "Work Sans Regular";
            color: #151c22;
            text-decoration: none;
        }
    }
}
